/* ==== ESTILOS GENERALES ==== */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #f8f8f8;
    color: #333;
}


/* ==== ENCABEZADO ==== */
header {
    background: linear-gradient(90deg, #ffcb05 0%, #3b4cca 100%);
    color: white;
    padding: 10px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.nav-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 50px;
    width: 50px;
}

.logo h1 {
    font-family: 'Comic Sans MS', cursive;
    font-size: 1.5em;
    color: #ff0000;
    text-shadow: 1px 1px 3px #fff;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    transition: transform 0.3s, color 0.3s;
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: #ff0000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: right;
}

nav a:hover {
    color: #ffde59;
    transform: scale(1.1);
}

nav a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}